@model Final_Project.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@Html.ActionLink("Create New" , "Create")
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td class="col-md-2 control-label">
                @Html.DisplayNameFor(model => model.account)
            </td>
            <td class="col-md-10">
                @Html.EditorFor(Model => Model.account , new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.account)
            </td>
        </tr>
        <tr>
            <td class="col-md-2 control-label">

                @Html.DisplayNameFor(model => model.password)

            </td>
            <td class="col-md-10">
                @Html.EditorFor(Model => Model.password , new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.password)


            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="登入" /></td>
        </tr>




    </table>
}


<div>
    <h2>@(string.IsNullOrWhiteSpace((string)ViewData["message"]) ? "" : ViewData["message"].ToString())</h2>
</div>
